<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<h3>Add Blog</h3>

<div id="form">
    <form th:action="@{/blog/save}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <div>
            <label>Name</label>
            <input type="text" th:field="*{nameBlog}"/>
        </div>
        <div>
            <label>Content</label>
            <input type="email" th:field="*{content}"/>
        </div>
        <div>
            <label>Category</label>
            <input type="checkbox" th:field="*{categorySet}" th:value="${items.id}" th:each="items : ${categoryList}" th:text="${items.nameCategory}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>

</body>
</html>