<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Blogs</h3>
<p>
    <a th:href="@{/blog/create}">
        Add new blog
    </a>
</p>
<p>
<!--<form action="/blog/search" class="d-flex justify-content-end my-2">-->
<!--    <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="nameBlog">-->
<!--    <button class="btn btn-success" type="submit">Search</button>-->
<!--</form>-->
</p>
<table class="table" id= "blogs" border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>content</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${blogs}">
        <td th:text="${row.id}"></td>
        <td th:text="${row.nameBlog}"></td>
        <td th:text="${row.content}"></td>
        <td><a th:href="@{/blog/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/blog/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/blog/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>